<% layout('../layout.ejs') %>


<div id="hiddenData" style="display: none"><%= dataStr%></div>
<div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
        <!-- Row Starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header" style="margin-top: 0px;">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Test page</h3>
                        </div>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="/">
                            <spam style="color: #fff;">Test page</spam></a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Row end -->
        <div class="pcoded-content">
                <!-- [ breadcrumb ] start -->
                
                <!-- [ breadcrumb ] end -->
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">

                                <!-- Page body start -->
                                <div class="page-body">
                                    
                                    
                                    <div class="row ">
                                        <div class="col-sm-12 margin_negative">
                                            <!-- Basic Form Inputs card start -->
                                            
                                                        <!-- Basic Form Inputs card end -->
                                                        <!-- Input Grid card start -->
                                                        
                                                        <!-- Input Grid card end -->
                                                        <!-- Input Validation card start -->
<div class="card">
    <div class="card-block">
    <div class="media">
        <div class="row">
            <div class="col-md-10">
                <div class="mr-3" style="font-size: 152%;">Question : <strong id="questionNumber">1 of 20 </strong></div>
                <div class="media-body">
                    <h5 class="mt-0"></h5>
                    <p id="question"><%= data[0].question %></p>
                </div>
            </div>
            <div class="col-md-2">
                <img src="https://tineye.com/images/widgets/mona.jpg" alt="dkjdfk">
            </div>
        </div>
    </div>
</div>
    <div class="card-header pd-0">
        <h4 class="sub-title m-b">Answers</h4>
        <div class="row">
            <div class="col-md-7">
                <div class="form-group has-success row">
                    <div class="col-sm-12">
                        <div class="funkyradio">
                            <div class="card-header pd-0">
                                <div class="funkyradio-default">
                                    <input type="radio" value="0" name="radio" id="radio1" class="radio_button_cls" checked/>
                                    <label for="radio1">
                                        <span>
                                            <!-- <div class="row" hidden>
                                                <div class="col-md-8">
                                                    <span class="radio_test">First Option primary</span>
                                                </div>
                                                <div class="col-md-4"></div>
                                            </div> -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="radio_test"><%= data[0].option0 %></span>
                                                </div>
                                            </div>
                                        </span>
                                    </label>
                                </div>
                                <div class="funkyradio-primary">
                                    <input type="radio" name="radio" class="radio_button_cls" value="1" id="radio2"/>
                                    <label for="radio2">
                                        <span>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="radio_test"><%= data[0].option1 %></span>
                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col-md-8">
                                                    <span class="radio_test"><%= data[0].option1 %></span>
                                                </div>
                                                <div class="col-md-4"></div>
                                            </div> -->
                                        </span>
                                    </label>
                                </div>
                                <div class="funkyradio-success">
                                    <input type="radio" name="radio" class="radio_button_cls" value="2" id="radio3" />
                                    <label for="radio3">
                                        <span>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="radio_test"><%= data[0].option2 %></span>
                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col-md-8">
                                                    <span class="radio_test"><%= data[0].option2 %></span>
                                                </div>
                                                <div class="col-md-4"></div>
                                            </div> -->
                                        </span>
                                    </label>
                                </div>
                                <div class="funkyradio-danger">
                                    <input type="radio" name="radio"  class="radio_button_cls" value="3" id="radio4" />
                                    <label for="radio4">
                                        <span>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="radio_test"><%= data[0].option3 %></span>
                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col-md-8">
                                                    <span class="radio_test"><%= data[0].option3 %></span>
                                                </div>
                                                <div class="col-md-4"></div>
                                            </div> -->
                                        </span>
                                    </label>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <button id="next-btn" class="btn btn-primary btn-round waves-effect waves-light mr" onclick="nextQuestion()"> Next </button>
                            <button id="success-btn" style="display: none" class="btn btn-success btn-round waves-effect waves-light mr" onclick="nextQuestion()"> success </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</div>
                                                                    <!-- Input Validation card end -->
                                                                    <!-- Input Alignment card start -->
                                                                    
                                                                    <!-- Input Alignment card end -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Page body end -->
                                                    </div>
                                                </div>
                                                <!-- Main-body end -->
                                                <div id="styleSelector">

                                                </div>
                                            </div>
                                        </div>
        <!-- Container-fluid ends -->
     </div>
    </div>




  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Test Instructions</h4>
            </div>
            <div class="modal-body">
                <div class="list">
                    <ol>
                        <li class="li_inst">This is a Sample Quiz of D.L Mock test</li>
                        <li class="li_inst">There are 16 Questions.</li>
                        <li class="li_inst">There are 20 minutes time Limite</li>
                        <li class="li_inst">When you click the next button the quiz will begin.</li>
                        <li class="li_inst">Do your best to answer each question correctly. Good Luck!</li>
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
      